.winner-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--popup-bg);
}

.winner-popup__title {
  font-size: 4rem;
}

.winner-popup__car-icon, .winner-popup__car-icon > svg {
  width: 5rem;
  height: 5rem;
}

.winner-popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  max-width: 20rem;
  background-color: var(--popup-modal-bg);
  border-radius: 3%;
}

.winner-popup__car-name {
  font-size: 2rem;
}

.winner-popup__close-btn {
  min-width: 2.9em;
  margin-right: 0.2em;
  font-size: 1.5rem;
}