:root {
  --popup-bg: rgba(0,0,0,0.7);
  --popup-modal-bg: rgb(255, 255, 255);
  --main-bg-color: rgba(0,0,0,0.3);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

body, h2, p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--main-bg-color);
  max-width: 128rem;
}